JWKS=
JWT_PRIVATE_KEY=
SITE_URL=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

COMPOSIO_API_KEY=
OPENAI_API_KEY=
RESEND_API_KEY=

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=

DODO_PAYMENTS_WEBHOOK_SECRET=
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_PRODUCTID_PRO=
DODO_PAYMENTS_ENVIRONMENT=

RESEND_FROM_EMAIL=